.title{
        text-transform: uppercase;
        font-size: 3.8vw;
        font-family:'Courier New', Courier, monospace;
        cursor: pointer;
        color: rgb(50, 80, 0);
        
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separate{
    margin: 10px;
    width: 100%;

}